# ignore emacs autosave files
.emacs.d/auto-save-list/*
.emacs.d/session.*

#package stuff 
.emacs.d/ac-comphist.dat
.emacs.d/elpa/archives/gnu/archive-contents
.emacs.d/elpa/archives/gnu/archive-contents~
.emacs.d/elpa/archives/melpa/archive-contents
.emacs.d/elpa/archives/melpa/archive-contents~
                                     