# ignore emacs autosave files
.emacs.d/auto-save-list/*
.emacs.d/session.*
.emacs.d/ac-comphist.dat

#package stuff 
.emacs.d/ac-comphist.dat
.emacs.d/elpa/archives/gnu/archive-contents
.emacs.d/elpa/archives/gnu/archive-contents~
.emacs.d/elpa/archives/melpa/archive-contents
.emacs.d/elpa/archives/melpa/archive-contents~

#general stuff
*~
#*#