;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Sep 29 14:12:48 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("ocaml"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d" "~/.emacs.d/init.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/yuechuan/.emacs.d/init.el"
  "init.el"
  'emacs-lisp-mode
  '(auto-complete-mode yas-minor-mode linum-mode)
  912
  '(915 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/yuechuan/Documents/notes/COMP302/hw/hw2/hw2.ml"
  "hw2.ml"
  'lisp-mode
  '(auto-complete-mode yas-minor-mode linum-mode)
  247
  '(247 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

